{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="title">
            Télécharger l'application
        </h1>
        <h2 class="subtitle">
            C'est indispensable afin de pouvoir vous évaluer pour votre test final.
        </h2>
        <p>
            L'application à un but exclusivement d'entraînement scolaire, les données qui sont donc collectées pendant vos entraînements ne concerne que vous et vous seulement.
        </p>
        <a href="#">
            Télécharger l'application
        </a>
    </div>
{% endblock %}